<!DOCTYPE html>
<html>

<head>
  <title>Eriksen Online</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id='bannerlanding'>
         Virdy Steel Construction
    </div>
    <div>
        <ul class='list'>
            <li>
                <p>Steel Building Specialist</p>
                <p>General Contractor</p>
                <p>License # 1035328</p>
                <p> Chris Virden</p>
                <p class='low'>Presedent</p>
                <p class='low'>(760) 792-9698</p>
                <p class='low'>chris@virdyconstruction.com</p>
            </li>
        </ul>
    </div>
</body>
</html>